server:
  port: 8084
spring:
  main:
    web-application-type: servlet
  cloud:
    nacos:
      discovery:
        auto-registration:
          enabled: false
logging:
  level:
    com.alibaba.nacos: DEBUG
    com.alibaba.cloud.nacos: DEBUG
    org.springframework.cloud: DEBUG
    root: INFO
